<h1>Bonjour! Merci pour votre inscription. </h1>

<p>
    Pour que votre compte soit actif, nous vous invitions à cliquer sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
