
{% for date, creneaux in allCreneaux %}
<div class="splide__slide date-creneaux-container">
  <h3>{{ date|format_datetime(pattern="EEEE d LLLL", locale='fr')|capitalize }}</h3>
  <div class="creneaux-container">
  {% for creneau in creneaux %}
    {% set creneauValue = creneau.format('y-m-d H:i:s') %}
    <button class="creneau-button" onclick="selectedCreneau(this,'{{ creneauValue }}')">{{ creneau.format('H:i') }}</button>
  {% endfor %}
  </div>
</div>
{% endfor %}
      

