@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');








#image-preview {
    max-height: 300px;
    width: auto;
}

#calendar{
    width: 80%;
    margin: auto;
}

.honeypot {
    display:none!important;
 }

/****** GENERAL *******/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {
    font-family: 'Poppins';
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

/****** Variables *******/

:root {
    /* couleurs */
    --white: #ffffff;
    --light-gray: #F5F2F2;
    --dark-gray: #3F3F3F;
    --black: #000000;
  
    /*font weight */
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
  }

.title {
    text-align: center;
    font-family: 'Smythe';
    font-size: 50px;
}

.title-margin {
    text-align: center;
    font-family: 'Smythe';
    font-size: 50px;
    margin-top: 2rem;
}

.sub-title {
    text-align: center;
    margin: 5rem 0rem ;
    font-family: 'Smythe';
    font-size: 30px;
}

/********************************************** HOME *************************************************/

/*****************************************/
/***************** HEADER *****************/

.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-navbar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-navbar .logo{
    width: 80px;
}

#home-navbar i{
    color: white;
}

#home-navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

#home-navbar ul li a {
    position: relative;
    color: var(--white);
}

#home-navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--white);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

#home-navbar ul li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.header-content {
    text-align: center;
}

.header-content h1{
    font-size: 100px;
    font-family: 'Smythe';
    color: var(--white);
}

.header-content a{
    display: inline-block;
    color: var(--white);
    border: 2px solid var(--white);
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 30px;
    transition: 0.5s;
}

.header-content a:hover{
    background-color: white;
    color: black;
}

.home-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    ;
}

@media(min-aspect-ratio: 16/9 ){
    .home-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9 ){
    .home-video{
        width: auto;
        height: 100%;
    }
}

/*****************************************/
/***************** CARDS *****************/

#card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 5rem 0;
    gap: 5rem;
    background-color: var(--light-gray);
}

.home-barbershop-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--light-gray);
    
}

.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px 50px;
    padding: 50px 40px ;
}

.card-container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background:var(--white);
    border-radius: 15px;
    box-shadow: 0 35px 80px rgba(0,0,0,0,15);
    transition: 0.5s;
}

.card-container .card:hover{
    height: 400px;
}

.card-container .card .imgBx {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #3F3F3F;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.card-container .card:hover .imgBx {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0,15);
}

.card-container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container .card .card-content{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.card-container .card:hover .card-content{
    top: 130px;
    height: 250px;
}

.card-container .card .card-content a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--black);
    color: var(--white);
    border-radius: 8px;
}

/*****************************************/
/*********** FONCTIONNALITES *************/

#home-features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    min-height: 70vh;
    padding: 5rem 0;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    align-items: center;
}

.line{
    background-color: #3F3F3F;
    width: 3px;
    height: 300px;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    max-width: 350px;
}

.features i {
    color: var(--dark-gray);
    font-size: 70px;
    transition: 0.5s;
}

.features:hover i{
    transform: translateY(-20px);
}

@media screen and (max-width : 1405px) {

    .line{
        display: none;
    }
}

/*****************************************/
/*********** ARTICLES *************/

#home-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    min-height: 70vh;
    background: var(--light-gray);
    padding: 5rem 0;

    
}

.home-article-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    align-items: center;
    background: var(--light-gray);
    padding: 50px;
}

.article-card {
    display: grid;
    grid-template-columns: 250px minmax(200px, 420px);
    max-width: 730px;
    min-height: 350px;
    border-radius: 10px;
    box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.02),
                25px 25px 20px hsla(0, 0%, 0%, 0.03),
                100px 100px 80px hsla(0, 0%, 0%, 0.05);
    transition: 0.5s;
  }

  .article-card a{
    color: black;
  }

  .article-card a:hover{
    text-decoration: underline;
  }
  
.article-card:hover, .admin-article-card{
    transform: translateY(-15px);
}
  
.img-box {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.article-banner {
    width:  100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: all 0.5s ease;
}

.article-card:hover .article-banner, .admin-article-card:hover .article-banner {transform: scale(1.1);}

.article-content{
    background: var(--white);
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
}

.article-title {
    font-size: 20px;
    color: var(--black);
    margin-bottom: 12px;
    line-height: 1.4;
    transition: 0.5s;
}

.article-title:hover{
    color: var(--dark-gray);
}

.article-text{
    margin-bottom: 18px;
    line-height: 1.5;
}

.author{
    display: flex;
    align-items: center;
    font-size: 13px;
}

.author i {
    font-size: 25px;
    margin-right: 15px;

}

.publish-date{
    font-size: 13px;
}

.admin-article-card {
    display: grid;
    grid-template-columns: 250px minmax(200px, 420px);
    max-width: 730px;
    min-width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.02),
                25px 25px 20px hsla(0, 0%, 0%, 0.03),
                100px 100px 80px hsla(0, 0%, 0%, 0.05);
    transition: 0.5s;
    overflow: hidden;
}

@media screen and (max-width : 768px) {

    .article-card, .admin-article-card{
        grid-template-columns: 1fr;
        max-width: 294px;
        height: auto;
        overflow: hidden;
        width: 100%;
    }

    .img-box, .article-content {border-radius: 0;}

    .img-box{ height: 180px;}

    .article-content{padding: 30px 28px 20px;}

    .article-title{font-size: 15px;}

    .article-text{margin-bottom: 30px;}
}

  /***** FOOTER *****/

footer{
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-gray);
    padding: 1rem;
    min-height: 5rem;
    color: var(--white);
}

footer a {
    color: var(--white);
}

footer i {
    font-size: 25px;
}

.footer-socials {
    display: flex;
    gap: 1rem;

}

@media screen and (max-width : 768px) {
    footer{
        flex-direction: column;
        gap: 2rem;
    }

    .responsive-hidden {
        display: none;
    }
}
  /********************************************** NAV OTHERS PAGE *************************************************/

#nav{
    width: 100%;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: relative;
    z-index: 10;
}

#nav .logo{
    width: 80px;
}

#nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

#nav ul li a {
    color: var(--black);
    position: relative;
    
}

#nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--black);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

#nav ul li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

@media screen and (max-width : 1220px) {

    #nav {
        display: none;
    }

    #home-navbar{
        display: none;
    }
}

  /********************************************** LOGIN *************************************************/
.login-splitscreen h1{
    font-size: 2.25rem;
    font-weight: var(--semi-bold);
}

.login--splitscreen h2{
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
}

.login-splitscreen a{
    text-decoration: none;
    color: var(--dark-gray);
}

.login-splitscreen a:hover{
    text-decoration: underline;
}

.login-splitscreen{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.login-left{
    height: 200px;
}

.login-left, .login-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('../images/login-img.jpg');
    background-size: cover;
}

.login-left .login-copy{
    color: white;
    text-align: center;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing : grayscale;

}

.login-left p {
    font-weight: var(--regular);
}

.login-right .login-copy {
    color: black;
    text-align: center;
}

.login-right .login-copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
}

.login-right form {
    width: 328px;
}

#inputEmail, #inputPassword{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
 }

 .login-splitscreen label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
 }

 .login-input-container.password {
    position: relative;
 }
 
 .login-input-container.password i{
    position: absolute;
    top: 37px;
    right: 16px;
    font-size: 18px;
    cursor: pointer;
 }
 
.forget-password{
    font-size: 0.750rem;
    margin-bottom: 1rem;
}

.login-signup-btn {
    display: block;
    width: 100%;
    background: black;
    color: white;
    font-weight: var(--regular);
    border: none;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    transition: 0.5s;
    margin-bottom: 2rem;
}

.login-signup-btn:hover{
    background: var(--light-gray);
    color: black;
    cursor: pointer;
}

@media  screen and (min-width: 900px) {
    .login-splitscreen{
        flex-direction: row;
        height: 90vh;
    }
    .login-left, .login-right{
        display: flex;
        width: 50%;
        height: auto;
    }
    
}

  /********************************************** REGISTER *************************************************/

 
.register-splitscreen h1{
    font-size: 2.25rem;
    font-weight: var(--semi-bold);
}

.register-splitscreen h2{
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
}

.register-splitscreen a{
    text-decoration: none;
    color: var(--dark-gray);
}

.register-splitscreen a:hover{
    text-decoration: underline;
}

.small{
    font-size: 80%;
    text-align: center;
}

.register-splitscreen{
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

.register-left{
    height: 200px;
}

.register-left, .register-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-left{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('../images/login-img.jpg');
    background-size: cover;
}

.register-left .copy{
    color: white;
    text-align: center;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing : grayscale;

}

.register-left p {
    font-weight: var(--regular);
}

.register-right .copy {
    color: black;
    text-align: center;
}

.register-right .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
}

.register-right form {
    width: 328px;
}

#registration_form_plainPassword_second{
    margin-bottom: 1.25rem;
}
.register-splitscreen form input[type="text"],
.register-splitscreen form input[type="email"], 
.register-splitscreen form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    font-size: 0.875rem;
 }

 .register-splitscreen form input[type="text"]{
    margin-bottom: 1.25rem;
 }

 #email-message, #password-message{
    margin-bottom: 1.25rem;
    font-size: 12px;
 }

 .register-splitscreen label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
 }

 .input-container.password {
    position: relative;
 }
 
 .input-container.password i{
    position: absolute;
    top: 37px;
    right: 16px;
    font-size: 18px;
    cursor: pointer;
 }
 
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    background-color: black;
}
    
.input-container.terms .checkbox-container {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
}
.checkbox-container input:checked~.checkmark {
    background-color: black;
    border: 1px solid black;
}
    
.checkmark {
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    top: -4px;
    left: 0;
}
    
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after{
    display: block;
}

.checkbox-container .checkmark:after{
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    left: 8px;
    top: 4px;
    transform: rotate(45deg);
}

.signup-btn {
    display: block;
    width: 100%;
    background: black;
    color: white;
    font-weight: var(--regular);
    border: none;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    transition: .5s;
}

.signup-btn:hover{
    background: var(--light-gray);
    color: black;
    cursor: pointer;
}

.register-success {
    color: #8CD47E;
}
.register-fail {
    color: #E66F64;
}

@media  screen and (min-width: 900px) {
    .register-splitscreen{
        flex-direction: row;
        height: 90vh;
    }
    .register-left, .register-right{
        display: flex;
        width: 50%;
        height: auto;
    }
    
}

/***************************** BARBERSHOPS LIST ************************************/

.barbershop-cards-container {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.barbershop-card-img-hover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.barbershop-card-like {
    width: 30px;
}

.barbershop-card-img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  
}

.card-info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    z-index: 1;
}

.card-info-hover a{ 
    color: black;
}

.barbershop-card-img-hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
  
}
.barbershop-card {
    margin-top: 4rem;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 350px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.barbershop-card-admin {
    margin-top: 4rem;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 350px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.barbershop-card:hover, .barbershop-card-admin:hover  {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.barbershop-card-info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.barber-admin-link  {
    color: #000000;
    font-size: 1rem;
    
}

.barber-admin-show-link  {
    color: #000000;
    font-size: 1rem;
    padding: 0.1rem 1rem;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    transition: 0.2s;
}

.barber-admin-show-link:hover  {
    background-color: black;
    color: white;
}

.barber-admin-link:hover {
    text-decoration: underline;
}

.barbershop-card-note {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.barbershop-card-link{
    border: 1px solid black;
    padding: 0.5rem 1rem;
    position: absolute;
    top:100px;
    text-align: center;
    margin-top: 2rem;
    border-radius: 5px;
    transition: 0.2s;
}

.barbershop-card-link:hover{
    background-color: #000000;
    color: white;
}

.barbershop-card-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Smythe';
    font-size: 1.8rem;
}

.barbershop-card-adress {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.barbershop-card-adress {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.barbershop-card:hover .barbershop-card-img-hover {
    height: 100%;
    opacity: 0.09;
}

.barbershop-card:hover .barbershop-card-info {
    background-color: transparent;
    position: relative;
}

.barbershop-card:hover .card-info-hover {
    opacity: 1;
}

.fa-heart.hidden {
    display: none;
}

#heartUnfilled, #heartFilled{
    font-size: 22px;
}

#heartFilled {
    color: #E66F64;
}

/***************************** PAGINATION ************************************/

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Smythe';
    font-size: 25px;
    padding: 3rem;
    gap: 10px;
}

.pagination a{
    color: black;
}

.pagination .current, .pagination .page{
    padding: 0.5rem 1rem;
    transition: 0.2;

}

.pagination .current {
    background-color: black;
    color: white;
    border-radius: 5px;
}
.pagination .page{
    transition: 0.5s;
}

.pagination .page:hover{
    background-color: var(--light-gray);
    color: white;
    border-radius: 5px;
}

/***************************** MAP ************************************/
#map-container{
    display: flex;
    height: calc(100vh - 102.833px);

}

#map-details-barber{
    width: 40%;
    overflow: auto;
}

#map-all-barber{
    width: 60%;
    
    
}

.map-barbershop-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background: var(--light-gray);
    padding: 50px;
}

.map-barbershop-container h1{
    font-size: 40px;
    font-family: 'Smythe';
}

.map-barbershop-card {
    display: grid;
    grid-template-columns: 200px minmax(200px, 420px);
    max-width: 730px;
    max-height: 250px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
  }

  .map-barbershop-card a{
    color: black;
  }

  .article-card a:hover{
    text-decoration: underline;
  }
  
.map-barbershop-card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
  
.img-box {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.article-banner {
    width:  100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: all 0.5s ease;
}

.article-card:hover .article-banner {transform: scale(1.1);}

.article-content{
    background: var(--white);
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
}

.article-title {
    font-size: 20px;
    color: var(--black);
    margin-bottom: 12px;
    line-height: 1.4;
    transition: 0.5s;
}

.article-title:hover{
    color: var(--dark-gray);
}

.article-text{
    margin-bottom: 18px;
    line-height: 1.5;
    font-size: 13px;
}

.article-text a {
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s;
}

.article-text a:hover{
    background: black;
    color: white;
}

.author{
    display: flex;
    align-items: center;
    font-size: 13px;
}

.author i {
    font-size: 25px;
    margin-right: 15px;

}

.publish-date{
    font-size: 13px;
}

@media screen and (max-width : 1120px) {

    #map-container{
        flex-direction: column-reverse;
        max-height: 100vh;
        position: relative;
        
    }
    #map-all-barber{
        min-height: 350px;
        width: 100%;
        
    }

    #map-details-barber{
        width: 100%;
    }

}

@media screen and (max-width : 768px) {

    .map-barbershop-card{
        grid-template-columns: 1fr;
        width: 300px;
        overflow: hidden;
        min-height: 290px;
    }

    .img-box, .article-content {border-radius: 0;}

    .img-box{ height: 120px;}

    .article-content{padding: 30px 28px 20px;}

    .article-title{font-size: 15px;}

    .article-text{margin-bottom: 30px;}
}

/************************* ARTICLES **********************************/

.article-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    align-items: center;
    padding: 50px;
}



/**** SHOW ARTICLE ***/

  #show-article-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    gap: 3rem;
    padding: 4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .show-article-title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .show-article-header{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .show-article-header img{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    object-fit: cover;
  }

/********************** ADD RDV *************************/

#add-rdv-container{
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
}

#creneauxContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splide01{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.date-creneaux-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
    padding: 2rem;
}
.creneaux-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.creneaux-container button{
    width: 100px;
    cursor: pointer;
}

#personnel-radio-container{
   display: flex;
   gap: 2rem;
   margin-bottom: 2rem ;
}

#personnel-radio-container div{
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    border: 1px solid #c4c4c4;
    padding: 2rem;
    border-radius: 10px;
}


#rendez_vous_submit{
    padding: 1rem 1rem;
    background-color: black;
    font-family: 'Smythe';
    border: 0px;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    display: none;
    margin-top: 2rem;
    width: 100%;
}


#rendez_vous_submit:hover{
    background-color:   #30302E;
}

.creneau-button{
    background-color: #F7F7F7;
    padding: 0.5rem;
    border:0px;
    border-radius: 5px;
    transition: 0.15s;

}

.creneau-button:hover{
    background-color: #000000;
    color: white;
}

.clicked-button {
    background-color: #000000;  
    color: white;
}

/************************************ SHOW BARBERSHOP *********************************/

#show-barbershop-section{
    width: 100%;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#show-barbershop-section h2, #show-barbershop-section h3{
    font-family: 'Smythe';
    font-size: 35px;
}


#show-barbershop-header{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.barbershop-image-title-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.barbershop-image-title-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.barbershop-image-title-container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 56px;
    font-family: 'Smythe';
}

.barbershop-image-title-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.like-adresse-barber{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 17px;
    width: 100%;
    max-width: 1500px;
    margin: auto;

}

.like-adresse-barber a{
    color: black;
}

#show-barber-info-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1500px;
    justify-content: center;
    margin: auto;
    gap: 4rem;
}



.show-barbershop-info{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    width: calc(100%-400px);
    min-width: 500px
}

.show-map-horaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-width: 400px;
    
}

.show-barber-desc{
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

#map-barber{
    height: 400px;
    width: 100%;
    border-radius: 10px;
}

.ligne-presta{
    width: 100%;
    height: 2px;
    margin: auto;
    background-color: #EEF0F2;
}
.show-barber-prestation{
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: 10px;
}

.prestation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-prestation{
    padding: 0.5rem 1rem;
    color: black;
    background-color: var(--light-gray);
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 1rem;
}

.book-prestation:hover{
    background: black;
    color: white;
}

.barbershop-horaires-table{
    width: 400px;
    text-align: center;
    margin-top: 2rem;
}

.barbershop-horaires-table th{
    padding: 0.5rem;
    background-color: var(--light-gray);
}
.barbershop-horaires-table td{
    padding: 0.5rem;
}


.barbershop-socials i{
    padding: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 35px;
    color: black;
    border-radius: 10px;
}

.fa-circle.open{
    color: #D9FEC0;
}

.fa-circle.closed{
    color: #E66F64;
}
#barbershop-avis-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.barbershop-avis{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    gap: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    border-radius: 10px;
}
.barber-note-pseudo{
    display: flex;
    justify-content: space-between;
}

.edit-delete-avis{
    font-size: 14px;
}

.edit-delete-avis:hover{
    text-decoration: underline;
}

.fa-star.filled{
    color: #F6F69E;
}

@media screen and (max-width : 768px) {
    .show-barbershop-info{
        min-width: 300px;
    }

    #map-barber{
        width: 350px;
        height: 350px;
    }

    .barbershop-horaires-table{
        width: 350px;
    }

    #barbershop-avis-container{
        justify-content: center;
    }


}

/*********** CONTROL PANNEL *********/
.sidebar-section{
    background-color: #3F3F3F;
}
.sidebar-container {
 max-width: 256px;
 height: calc(100vh - 102.833px);
}

.sidebar{
    position: relative;
    width: 256px;
    height: calc(100vh - 102.833px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 24px;
    transition: all 0.3s;
}

.sidebar .sidebar-head{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.sidebar-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar-img img{
    width: 100%;
    object-fit: cover;
}

.sidebar-user-details .sidebar-title, 
.sidebar-menu .sidebar-title{
    font-size: 10px;
    font-weight: var(--medium);
    color: #757575;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sidebar-user-details .user-name{
    font-size: 14px;
    font-weight: var(--medium)
}

.sidebar-nav{
    flex: 1;
}

.sidebar-menu ul li{
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}

.sidebar-menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: var(--medium);
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}

.sidebar-menu ul li > a:hover ,
.sidebar-menu ul li.li-active  > a {
    color: #000;
    background-color: #f6f6f6;
}

.sidebar-menu ul li .sidebar-icon{
    font-size: 20px;
}

.sidebar-menu ul li .arrow{
    font-size: 14px;
    transition: all 0.3s;
}

.sidebar-menu ul li.li-active .arrow{
    transform: rotate(180deg);
}

.sidebar-menu ul li .sidebar-text{
    flex: 1;
}

.sidebar-menu .sidebar-sub-menu{
    display: none;   
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}

.sidebar-menu .sidebar-sub-menu li a{
    padding: 10px 8px;
    font-size: 12px;
}

.sidebar-menu:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}

.sidebar-menu-btn{
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
}

.sidebar-menu-btn:hover i {
    color: black;
}

.sidebar-menu-btn i {
    transition: all 0.3s;
}

.sidebar.active{
    width: 92px;
}

.sidebar.active .sidebar-menu-btn i{
    transform: rotate(180deg);
}

.sidebar.active .sidebar-user-details {
    display: none;
}

.sidebar.active .sidebar-menu .sidebar-title{
    text-align: center;
}

.sidebar.active .sidebar-menu ul li .arrow {
    display: none;
}

.sidebar.active .sidebar-menu > ul > li > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.active .sidebar-menu > ul > li > a .sidebar-text {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.sidebar.active .sidebar-menu > ul > li > a .sidebar-text::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}

.sidebar.active .sidebar-menu > ul > li > a:hover .sidebar-text {
    left: 50px;
    opacity: 1;
    visibility: visible;
}

.sidebar.active .sidebar-menu .sidebar-sub-menu{
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1) ;
}

.admin-pannel{
    display: flex;
}

.admin-pannel-content{
    padding: 2rem;
    background-color: var(--light-gray);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.admin-pannel-content-flex{
    background-color: var(--light-gray);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media screen and (max-width : 768px) {
    
    .sidebar.active{
        padding: 0px;
        width: 50px;
    }

    .sidebar .sidebar-head{
        display: none;
    }

    .sidebar-title{
        margin-top: 10px;
    }

}

/******* ADMIN INDEX ********/

.admin-stat-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.admin-stat{
    padding: 2rem;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    min-width: 300px;
}

.admin-stat p {
    font-size: 12px;
    text-transform: uppercase;
}

.stat-number{
    font-size: 45px;
    font-family: "Smythe";
}

/******* ADD BARBERSHOP ********/

#barbershop_nom, #barbershop_telephone, #barbershop_email, #barbershop_instagram, #barbershop_facebook {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;

 }

 #barbershop_images{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    background-color: white;
 }

 #barbershop_description{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    min-height: 10rem;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
 }

 #image-preview{
    max-width: 100%;
 }

 .add-barbershop-form{
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
 }
 .add-barbershop-form label{
     display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: var(--medium);
 }

.addHorairesTable{
    width: 100%;
    text-align: left;
    margin-bottom: 1.25rem;
    text-align: center;
    border-collapse: collapse;


    
}

.addHorairesTable td {
    padding: 0.5rem;
    font-size: 13px;
}

.addHorairesTable th {
    font-size: 14px;
    padding: 0.5rem;
    border: 1px solid #c4c4c4;

}

#heureFermeture, #heureOuverture{
    padding: 0.5rem;
    border-radius: 7px;
    border: 1px solid #c4c4c4;

}

.selectize-control{
    margin-bottom: 1.25rem;
    width: 100%;
}

@media screen and (max-width : 768px) {
    
    .add-barbershop-form{
        padding: 1rem;
    }

    .barbershop-card-admin{
        width: 300px;
    }
}

/***** ADD ARTICLES *****/

.add-article-form{
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
}
.add-article-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: var(--medium);
}
#article_photo, #article_titre, #article_description{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
}

#cke_article_texte{
    margin-bottom: 1.25rem;
}

/***** ADD PRESTATIONS *****/

#addPrestationForm{
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
}

.submit-button-template{
    display: block;
    width: 100%;
    background: black;
    color: white;
    font-weight: var(--regular);
    border: none;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    transition: .5s;
}

#prestation_nom{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
}
.admin-pannel-content-prestation{
    padding: 2rem;
    background-color: var(--light-gray);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.add-prestation-admin-form{
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.table-prestation-admin{    
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.prestation-table{
    width: 100%;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.prestation-table th {
    padding: 1rem;
    background-color: var(--light-gray);
}

.prestation-table td {
    padding: 1rem;
}
@media screen and (max-width : 768px) {
    
    .prestation-table td, .prestation-table th {
        padding: 0.3rem;
    }
    .admin-pannel-content-prestation{
        align-items: center;
        padding: 1rem;
    }

    #addPrestationForm, .prestation-table{
        padding: 0.5rem;
    }

    .table-prestation-admin, .add-prestation-admin-form{
        width: 100%;
    }

    .add-article-form{
        padding: 1rem;
    }
}
/******** USER LIST *******/

.admin-user-table, .admin-employee-table{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.admin-user-table th, .admin-employee-table th{
    background-color: var(--light-gray);
    padding: 1rem;
}

.admin-user-table td, .admin-employee-table td{
    padding: 1rem;
}

/***** add Personnel ****/

#addPersonnelForm{
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
}

#addPersonnelForm label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: var(--medium);
}

#personnel_barbershop, #personnel_user{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #c4c4c4;
    padding: 1em;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
}

.checkbox-wrapper-2 .ikxBAC {
appearance: none;
background-color: #dfe1e4;
border-radius: 72px;
border-style: none;
flex-shrink: 0;
height: 20px;
margin: 0;
position: relative;
width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
bottom: -6px;
content: "";
left: -6px;
position: absolute;
right: -6px;
top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
background-color: #fff;
border-radius: 50%;
content: "";
height: 14px;
left: 3px;
position: absolute;
top: 3px;
width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
background-color: #c9cbcd;
transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
background-color: #8CD47E;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
background-color: #fff;
left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
background-color: #8CD47E;
}

@media (max-width: 768px){

    #responsive-table thead {
    display: none;
    }
    
    #responsive-table tr{
    display: block;
    margin-bottom: 40px;
    }
    
    #responsive-table td {
    display: block;
    text-align: right;
    }
    
    #responsive-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    }
    }
    
    /****************************************************/
    /***************** BURGER MENU **********************/
    /****************************************************/
  

  #burger-section {
    display: none;
  }
  .burger-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    z-index: 10;
  }

  .burger-logo{
    width: 80px;
    height: 100%;
    top: 10px;
    right: 10px;
    padding: 1rem;
  }
  
  .burger-logo img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .test{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: white;
  }
  .burger-menu span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }
  .burger-menu span, .burger-menu span::before, .burger-menu span::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #2a2a2a;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .burger-menu span::before, .burger-menu span::after {
    position: absolute;
    content: "";
  }
  .burger-menu span::before {
    top: -9px;
  }
  .burger-menu span::after {
    top: 9px;
  }
  .burger-menu.clicked span {
    background-color: transparent;
  }
  .burger-menu.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }
  .burger-menu.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }
  .burger-menu.clicked span:before, .burger-menu.clicked span:after {
    background-color: #ffffff;
  }
  .burger-menu:hover {
    cursor: pointer;
  }
  
  /*  NAV  */
  #responsive-nav {
    background-color: var(--dark-gray);
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 400px;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  #responsive-nav.show {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  #responsive-nav.show ul.burger-main li {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  #responsive-nav.show ul.burger-main li:nth-child(1) {
    transition-delay: 0.15s;
  }
  #responsive-nav.show ul.burger-main li:nth-child(2) {
    transition-delay: 0.3s;
  }
  #responsive-nav.show ul.burger-main li:nth-child(3) {
    transition-delay: 0.45s;
  }
  #responsive-nav.show ul.burger-main li:nth-child(4) {
    transition-delay: 0.6s;
  }
  #responsive-nav.show ul.burger-main li:nth-child(5) {
    transition-delay: 0.75s;
  }
  #responsive-nav.show ul.burger-main li:nth-child(6) {
    transition-delay: 0.9s;
  }
  #responsive-nav.show ul.burger-main li:nth-child(7) {
    transition-delay: 1.05s;
  }
  #responsive-nav.show ul.burger-main li:nth-child(8) {
    transition-delay: 1.2s;
  }
  #responsive-nav.show ul.burger-main li:nth-child(9) {
    transition-delay: 1.35s;
  }
  #responsive-nav.show .burger-about, #responsive-nav.show .burger-social, #responsive-nav.show ul.burger-sub {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.85s;
  }
  @media (min-width: 667px) {
    #responsive-nav {
      padding: 120px 90px 70px 90px;
    }
  }
  #responsive-nav ul.burger-main {
    list-style-type: none;
  }
  #responsive-nav ul.burger-main li {
    margin-bottom: 20px;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #responsive-nav ul.burger-main li:last-of-type {
    margin-bottom: 0px;
  }
  #responsive-nav ul.burger-main li a {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    display: block;
    letter-spacing: 5px;
    font-weight: var(--regular);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #responsive-nav ul.burger-main li a span {
    color: #b7ac7f;
  }
  #responsive-nav ul.burger-main li a:hover {
    color: #b7ac7f;
  }
  #responsive-nav .burger-about {
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #responsive-nav .burger-about p {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    line-height: 170%;
  }
  #responsive-nav .burger-social {
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #responsive-nav .burger-social:after {
    content: "";
    width: 230px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #responsive-nav .burger-social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 25px;
  }
  #responsive-nav .burger-social a:last-of-type {
    margin-right: 0px;
  }
  #responsive-nav .burger-social a:hover svg path, #responsive-nav .burger-social a:hover svg circle {
    fill: #b7ac7f;
  }
  #responsive-nav .burger-social a svg {
    width: 100%;
    height: 100%;
  }
  #responsive-nav .burger-social a svg path, #responsive-nav .burger-social a svg circle {
    fill: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #responsive-nav ul.burger-sub {
    list-style-type: none;
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #responsive-nav ul.burger-sub li {
    margin-bottom: 10px;
  }
  #responsive-nav ul.burger-sub li:last-of-type {
    margin-bottom: 0px;
  }
  #responsive-nav ul.burger-sub li a {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #responsive-nav ul.burger-sub li a:hover {
    color: #b7ac7f;
  }
  
  /*  OVERLAY */

  .burger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark-gray);
    opacity: 0;
    visibility: hidden;
  }
  .burger-overlay.show {
    opacity: 0.8;
    visibility: visible;
  }
 

  @media screen and (max-width : 1220px) {
   #burger-section{
    display: block;
   }
}

@media screen and (max-width : 768px) {
    #responsive-nav{
     max-width: 350px;
    }
 }