@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    font-family: 'Poppins';
}

#map-all-barber { 
    height: 800px; 
    width: 90%;
}

#map-barber { 
    height: 400px; 
    width: 400px;
    
}

.selectize-control{
    width: 300px;
}

#image-preview {
    max-height: 300px;
    width: auto;
}

#calendar{
    width: 80%;
    margin: auto;
}
