{% extends 'base.html.twig' %}

{% block title %}Hello PersonnelController!{% endblock %}

{% block body %}
<section class="admin-pannel">
    {% include "security/admin/_sidebar.html.twig" %}
    
    <div class="admin-pannel-content">
<table>
    <thead>
        <tr>
            <th> Pseudo </th>
            <th> Barbershop </th>
            <th> Statut </th>
        </tr>
    </thead>
    <tbody>
        {% for personne in personnel %}
        <tr>
            <td>{{ personne.user}}</td>
            <td>{{ personne.barbershop.nom}}</td>
            {% if personne.isManager == 1 %}
                <td> Manager </td>
            {% else %}
                <td> Employé </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
</section>    


{% endblock %}
