{% extends 'base.html.twig' %}

{% block title %}Tous les barbiers{% endblock %}

{% block body %}

<h1> Tous les barbiers </h1>

{% if is_granted('ROLE_ADMIN') %}

<a href="{{path ('add_barbershop')}}"> Ajouter un barbier </a>

{% endif %}

{# Barre de recherche #}

{% for barbershop in allBarbershops %}

<a href="{{path ('show_barbershop', {id : barbershop.id })}}"> {{barbershop.nom}}</a>
<a href="{{path ('edit_barbershop', {id : barbershop.id })}}">Editer </a>

{% endfor %}

{% endblock %}
