{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block body %}
<section class="admin-pannel">
{% include "security/admin/_sidebar.html.twig" %}

<div class="admin-pannel-content">
 <h1> Panneau de controle </h1>
<div class="admin-stat-container">
 <div class="admin-stat">
    <p> <span class="stat-number">{{nbBarbershops}}</span> barbershops </p> 
 </div>
 <div class="admin-stat">
    <p><span class="stat-number">{{nbArticles}}</span> Articles </p> 
 </div>
 <div class="admin-stat">
    <p><span class="stat-number">{{nbPersonnel}}</span> Employés </p> 
 </div>
 <div class="admin-stat">
    <p><span class="stat-number">{{nbUsers}}</span> Utilisateurs </p> 
 </div>

</div>
</div>
</section>

{% endblock %}
