{% extends 'base.html.twig' %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}
<section class="admin-pannel">
    {% include "security/admin/_sidebar.html.twig" %}
    
<div class="admin-pannel-content">
<table class="admin-user-table">
    <thead>
        <th> Pseudo </th>
        <th> Validé </th>
        <th> Role </th>
        <th> Action </th>
    </thead>
    <tbody>
        {% for user in users %}   
            <tr>
                <td> {{user.pseudo}}</td>

                {% if user.isVerified == 1 %}

                <td> Vérifié </td>

                {% else %}

                <td> Non vérifié </td>
                    
                {% endif %}
                <td>
                {% for role in user.roles %}
                         {{role}}<br>
                {% endfor %}
                </td>
                <td><a href="{{ path( 'admin_edituser', {id : user.id } )}}">Modifier</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</section>
{% endblock %}
