{% extends 'base.html.twig' %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}
<section class="admin-pannel">
    {% include "security/admin/_sidebar.html.twig" %}
    
<div class="admin-pannel-content">
<table>
    <thead>
        <th> Pseudo </th>
        <th> Validé </th>
        <th> Role </th>
    </thead>
    <tbody>
        {% for user in users %}   
            <tr>
                <td> {{user.pseudo}}</td>

                {% if user.isVerified == 1 %}

                <td> Vérifié </td>

                {% else %}

                <td> Non vérifié </td>
                    
                {% endif %}
                {% for role in user.roles %}
                    {% if role == "ROLE_ADMIN" %}

                        <td> Administrateur </td>

                    {% elseif role == "ROLE_USER" %}

                        <td> Utilisateur </td>

                    {% elseif role == "ROLE_BARBER" %}

                        <td> Barbier </td>

                    {% endif %}
                    
                {% endfor %}
                <td><a href="{{ path( 'admin_edituser', {id : user.id } )}}">Modifier</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</section>
{% endblock %}
