<footer>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-linkedin"></i></a>
    <a href=""><i class="fa-brands fa-facebook"></i></a>

    <a href=""> Conditions générales </a>
    <a href="">Politique de confidentialité</a>

    <a href="https://fr.linkedin.com/in/pierrewietrich" target="_blank" >Pierre WIETRICH</a>
    <a href="https://github.com/PierreWTH/BarberHub" target="_blank">BarberHub</a>
</footer>