{% extends 'base.html.twig' %}

{% block title %} Mon espace {% endblock %}

{% block body %}

<h1> Bienvenue, {{app.user.pseudo}} </h1>

<h2> Mes barbershops préférés </h2>

{% for barbershop in likes %}

{{barbershop.nom}}

{% endfor %}
{% endblock %}