{% extends 'base.html.twig' %}

{% block title %} Mes rendez-vous {% endblock %}

{% block body %}

<section class="admin-pannel">
{% if app.user.personnel.isManager == true %}
  
{% include "security/admin/_sidebar.html.twig" %}

{% endif %}

<div class="admin-pannel-content">

<h1> Mes rendez-vous </h1>
<div class="rdv-button-div">
  <button class="rdv-button" value="all">Tous les RDV</button>
  <button class="rdv-button" value="upcoming">RDV à venir</button>
</div>

<div id='calendar'></div>

</div>
</section>
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<script>
	

  

    window.onload = () => {

      const data = JSON.parse('{{ data|raw }}')
    console.log(data)
    
      let calendarEl = document.querySelector('#calendar');
      let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale : 'fr',
        timeZone : 'Europe/Paris',
        navLinks: true,
        headerToolbar: {
            start : 'prev,next,today',
            center:'title',
            end: 'dayGridMonth,timeGridWeek,timeGridDay'
        }, 
        events: data,
        eventClick: function(info) {
			
			const start = new Date(info.event.start).toISOString().substr(11, 5)
			const end = new Date(info.event.end).toISOString().substr(11, 5)
			const alertMessage = info.event.title + '\n' +
								'Début : ' + start + '\n' +
								'Fin : ' + end

          Swal.fire({
            title: info.event.title,
            text: 'Début : ' + start + '\n' + 'Fin : ' + end,
            confirmButtonColor: '#000000',
            footer: '<a href=""> Editer une facture </a> '
          })
        },
        
      });

      calendar.render();

      $('.rdv-button').click(function(e) {
        e.preventDefault();
        $('.rdv-button').removeClass('active');
        $(this).addClass('active');
      
        var displayType = this.value
        console.log(displayType)
        $.ajax({
            type: "POST",
            url: "/monespace/getrdv",
            contentType: 'application/json',
            data: displayType, 
            success: function(response) {
                console.log(response)
                calendar.removeAllEvents()
                calendar.addEventSource(response); 
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
  };

</script>

{% endblock  %}

{% endblock %}


