{% extends 'base.html.twig' %}

{% block title %} Mes rendez-vous {% endblock %}

{% block body %}

{{ dump(data) }}

<div id='calendar'></div>

{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script>

    window.onload = () => {
      let calendarEl = document.querySelector('#calendar');
      let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale : 'fr',
        timezone : 'Europe/Paris',
        headerToolbar: {
            start : 'prev,next,today',
            center:'title',
            end: 'dayGridMonth,timeGridWeek, timeGridDay'
        }, 
        
      });

      let events = JSON.parse('{{ data|raw }}').map(appointment => ({
        title: appointment.prestation,
        start: appointment.debut, 
        end: appointment.fin, 
        prestation : appointment.client,
      }));
    
      calendar.addEventSource(events);
      calendar.render();
    };

</script>

{% endblock  %}

{% endblock %}


