{% extends 'base.html.twig' %}

{% block title %} Mes rendez-vous {% endblock %}

{% block body %}

<div id='calendar'></div>

{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script>

    window.onload = () => {
      let calendarEl = document.querySelector('#calendar');
      let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale : 'fr',
        timezone : 'Europe/Paris',
        headerToolbar: {
            start : 'prev,next,today',
            center:'title',
            end: 'dayGridMonth,timeGridWeek'
        }
      });
      calendar.render();
    };

</script>

{% endblock  %}

{% endblock %}


