{% extends 'base.html.twig' %}

{% block title %} Mes rendez-vous {% endblock %}

{% block body %}

<h1> Mes rendez-vous </h1>

<form method="POST" action="{{ path('app_myrdv') }}" id="displayRDV">
    <input type="hidden" value="upcoming" name="displayType">
    <button type="submit">A venir</button>
</form>
<form method="POST" action="{{ path('app_myrdv') }}" id="displayRDV">
    <input type="hidden" value="all" name="displayType">
    <button type="submit">Tous</button>
</form>

<div id='calendar'></div>

{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<script>
	

  const data = JSON.parse('{{ data|raw }}')
    window.onload = () => {
      let calendarEl = document.querySelector('#calendar');
      let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale : 'fr',
        timeZone : 'Europe/Paris',
        headerToolbar: {
            start : 'prev,next,today',
            center:'title',
            end: 'dayGridMonth,timeGridWeek,timeGridDay'
        }, 
        events: data,
        eventClick: function(info) {
			
			const start = new Date(info.event.start).toISOString().substr(11, 5)
			const end = new Date(info.event.end).toISOString().substr(11, 5)
			var description = info.event.description;
			console.log(description)

			const alertMessage = info.event.title + '\n' +
								'Début : ' + start + '\n' +
								'Fin : ' + end

			alert(alertMessage);
        },
		navLinks: true
      });

      calendar.render();
    };

</script>

{% endblock  %}

{% endblock %}


