{% if (horaires[jourActuel]['ouverture'] == 'ferme' ) %}
<i class="fa-solid fa-circle"></i> Fermé actuellement
{% else %}
<i class="fa-solid fa-circle"></i> Ouvert actuellement
{% endif %}
{# Iterer sur les horaires dans un tableau #}
<table>
    <thead>
        <tr>
            <th> Jour </th>
            <th> Ouverture </th>
            <th> Fermeture </th>
        </tr>
    </thead>
    <tbody>
        
        {% for jour in horaires %}
        <tr>
            <td>{{ jour['jour']|capitalize }}</td>
            {% if jour['ouverture'] == 'ferme' %}
            <td> Fermé </td>
            {% else %}
            <td>{{ jour['ouverture'] }}</td>
            {% endif %}
            {% if jour['fermeture'] == 'ferme' %}
            <td> Fermé </td>
            {% else %}
            <td>{{ jour['fermeture'] }}</td>
            {% endif %}
            
        </tr>
        {% endfor %}
    </tbody>
</table>