
{# Iterer sur les horaires dans un tableau #}
<table class="barbershop-horaires-table">
    <thead>
        <tr>
            <th>Jour</th>
            <th>Horaires</th>
        </tr>
    </thead>
    <tbody>
        {% for jour in horaires %}
        <tr>
            <td>{{ jour['jour']|capitalize }}</td>
            {% if jour['ouverture'] == 'ferme' or jour['fermeture'] == 'ferme' %}
            <td>Fermé</td>
            {% else %}
            <td>{{ jour['ouverture'] }} - {{ jour['fermeture'] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
