
<div>

    {% if (horaires[jourActuel]['ouverture'] == 'ferme' ) %}
    <i class="fa-solid fa-circle open"></i> Fermé actuellement
    {% else %}
    <i class="fa-solid fa-circle closed"></i> Ouvert actuellement
    {% endif %}
</div>
{# Iterer sur les horaires dans un tableau #}
<table class="barbershop-horaires-table">
    <thead>
        <tr>
            {% for jour in horaires %}
            <th> {{ jour['jour']|capitalize }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for jour in horaires %}
            {% if jour['ouverture'] == 'ferme' or jour['fermeture'] == 'ferme'%}
            <td> Fermé </td>
            {% else %}
            <td>{{ jour['ouverture'] }} - {{ jour['fermeture'] }}</td>
            {% endif %} 
            {% endfor %}
        </tr>
    </tbody>
</table>