{% for prestation in barbershop.barberPrestations %}

{{prestation.prestation.nom}}
{{prestation.prix}} €

{% if app.user %}
    
<a href="{{path ('add_rendezvous', { barberPrestation : prestation.id })}}"> Reserver </a>

{% endif %}


{% endfor %}