{% if barbershop.barberPrestations is not empty %}
    

{% for prestation in barbershop.barberPrestations %}
        <div class="prestation">
        {{prestation.prestation.nom}}
        <p>30min &nbsp;•&nbsp;
        {{prestation.prix}}€
        {% if app.user %}
    
      <a href="{{path ('add_rendezvous', { slug : barbershop.slug, barberPrestation : prestation.id })}}" class="book-prestation"> Reserver </a></p>

        {% endif %}
        </div>
        {% if barbershop.barberPrestations|length > 1 %}
        <div class="ligne-presta"></div>
        {% endif %}
{% endfor %}
{% else %}

<p>Ce barbier n'as pas encore rempli de prestations. </p>

{% endif %}